body {
    margin: 0;
    padding: 0;
    background: #F6F7F8;
}

body.teacher {
    background-image: url("teacherdashboardimg.jpg");
    
}

body.student {
    background-image: url("studentsigninimg.png");
    background-repeat:no-repeat;
    background-color: black;
    background-position:right top;
}
 
nav ul {
  list-style: none;
  background-color: #62C3CA;
  text-align: center;
  padding: 0;
  margin: 0;
}
nav li {
  font-family: 'MuseoSans-500', 'Muli', 'Lucida Grande', Arial, sans-serif;
  font-size: 1.2em;
  line-height: 40px;
  height: 40px;
  border-bottom: 1px solid #888;
}
 
nav a {
  text-decoration: none;
  color: #fff;
  display: block;
  transition: .3s background-color;
}
 
nav a:hover {
  background-color: #f1693c;
  cursor: pointer;
}
 
nav a.active {
  background-color: #fff;
  color: #444;
  cursor: pointer;
}

article {
    align-content: center;
    padding-left: 25%;
    padding-right: 25%;
    font-family: 'MuseoSans-500', 'Muli', 'Lucida Grande', Arial, sans-serif;
}

#whitetxt{
    font-size: 1.5em;
    color: #fff;
}

#blacktxt{
    font-size: 1.5em;
    color: #000000;
    padding-top: 30px;
    margin-bottom: -55px;
}

#teacherdashboardblacktxt{
    font-size: 1.5em;
    color: #000000;
    padding-top: 30px;
    margin-bottom: -55px;
    text-align: center;
}

#manageclassblacktxt{
    font-size: 1.5em;
    color: #000000;
    padding-top: 30px;
    margin-bottom: 0px;
    text-align: center;
}

#login {
   background: #FFC url(loginbutton.jpg) repeat-x;
   width: 374px;
   height: 93px;
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
}

#goback  {
   background: #FCC url(backbutton.jpg) repeat-x;
   width: 240px;
   height: 76px;
   float: left;
   margin-left: -200px;
   margin-top: 50px;
   -webkit-border-radius: 35px;
   -moz-border-radius: 35px;
   border-radius: 35px;
}

#goback:hover  {
   cursor: pointer;
}

#zoomin  {
   background: #FCC url(settingszoomin.png) repeat-x;
   width: 32px;
   height: 32px;
   float: left;
   margin-left: 200px;
   margin-top: -54px;
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
}

#zoomin:hover  {
  cursor: pointer;
}

#zoomout  {
   background: #FCC url(settingszoomout.png) repeat-x;
   width: 32px;
   height: 32px;
   float: left;
   margin-left: 250px;
   margin-top: -54px;
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
}

#zoomout:hover  {
  cursor: pointer;
}

#readtextaloudtoggleButton  {
   background: #FCC url(toggleOFF.png) repeat-x;
   width: 94px;
   height: 33px;
   float: left;
   margin-left: 250px;
   margin-top: -54px;
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
}

#readtextaloudtoggleButton:hover  {
  cursor: pointer;
}

#invertcoloursmodetoggleButton  {
   background: #FCC url(toggleOFF.png) repeat-x;
   width: 94px;
   height: 33px;
   float: left;
   margin-left: 290px;
   margin-top: -54px;
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;

}

#invertcoloursmodetoggleButton:hover  {
  cursor: pointer;
}

#login:hover {
   background: #FCC url(loginbuttonhover.jpg) repeat-x;
   width: 374px;
   height: 93px;
   cursor: pointer;
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
}

.goanswerstostudentquestions li {
  background-color: #00CED1;
  text-align: center;
  width: 570px;
  font-size: 1.4em;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  text-decoration: none;
  font-weight: bold;
  font-colour: #fff;
  font-family: 'MuseoSans-500', 'Muli', 'Lucida Grande', Arial, sans-serif;
  font-size: 1.2em;
  line-height: 40px;
  height: 40px;
  border-colour: #00CED1;
  border-style: solid;
  border-width: 3px;
}

.gomanageclasslist li {
  background-color: #00CED1;
  text-align: center;
  width: 570px;
  font-size: 1.4em;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  text-decoration: none;
  font-weight: bold;
  font-colour: #fff;
  font-family: 'MuseoSans-500', 'Muli', 'Lucida Grande', Arial, sans-serif;
  font-size: 1.2em;
  line-height: 40px;
  height: 40px;
  border-colour: #00CED1;
  border-style: solid;
  border-width: 3px;
}

.goanswerstostudentquestions li:hover {
   cursor: pointer;
   background-color: #f1693c;
}

.gomanageclasslist li:hover {
   cursor: pointer;
   background-color: #f1693c;
}

#goanswerstostudentquestions:hover  {
    cursor:pointer;
}

#gomanageclasslist:hover  {
    cursor:pointer;
}


.indexIntro {
  font-size: 1.5em;
}

.btn1 ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.btn1 li {
    width: 374px;
    border-bottom: none;
    height: 93px;
    line-height: 50px;
    font-size: 1.4em;
  }
 
.btn1 a {
  text-decoration: none;
  color: #fff;
  display: block;
  transition: .3s background-color;
}
 
.btn1 a:hover {
  content: url('teacherloginbuttonhover.jpg');
  width: 374px;
  height: 93px;
  cursor: pointer;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}

.btn2 ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.btn2 li {
    width: 374px;
    border-bottom: none;
    height: 93px;
    line-height: 50px;
    font-size: 1.4em;
  }
 
.btn2 a {
  text-decoration: none;
  color: #fff;
  display: block;
  transition: .3s background-color;
}
 
.btn2 a:hover {
  content: url('studentloginbuttonhover.jpg');
  width: 374px;
  height: 93px;
  cursor: pointer;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}

footer {
    background-color: #62C3CA;
    color: #fff;
    line-height: 40px;
    text-align: center;
    font-size: 0.8em;
    height: 40px;
    font-family: 'MuseoSans-500', 'Muli', 'Lucida Grande', Arial, sans-serif;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    overflow:hidden;
} 
 
@media screen and (min-width: 600px) {
nav li {
    width: 120px;
    border-bottom: none;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
  }
 
nav li {
    display: inline-block;
    //margin-right: -4px;
  }
    
.btn li {
    width: 120px;
    border-bottom: none;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
  }
 
 li {
    display: inline-block;
    //margin-right: -4px;
  }
 
}