body {
    margin: 0;
    padding: 0;
    background: #F6F7F8;
}

body.teacher {
    background-image: url("teacherdashboardimg.jpg");
    
}

body.student {
    background-image: url("studentsigninimg.png");
    background-repeat:no-repeat;
    background-color: black;
    background-position:right top;
}
 
nav ul {
  list-style: none;
  background-color: #62C3CA;
  text-align: center;
  padding: 0;
  margin: 0;
}
nav li {
  font-family: 'MuseoSans-500', 'Muli', 'Lucida Grande', Arial, sans-serif;
  font-size: 1.2em;
  line-height: 40px;
  height: 40px;
  border-bottom: 1px solid #888;
}
 
nav a {
  text-decoration: none;
  color: #fff;
  display: block;
  transition: .3s background-color;
}
 
nav a:hover {
  background-color: #f1693c;
  cursor: pointer;
}
 
nav a.active {
  background-color: #fff;
  color: #444;
  cursor: pointer;
}

article {
    align-content: center;
    padding-left: 25%;
    padding-right: 25%;
    font-family: 'MuseoSans-500', 'Muli', 'Lucida Grande', Arial, sans-serif;
}

#whitetxt{
    font-size: 1.5em;
    color: #fff;
}

#blacktxt{
    font-size: 1.5em;
    color: #000000;
    padding-top: 30px;
    margin-bottom: -55px;
}

#teacherdashboardblacktxt{
    font-size: 1.5em;
    color: #000000;
    padding-top: 30px;
    margin-bottom: -55px;
    text-align: center;
}

#manageclassblacktxt1{
    font-size: 1.5em;
    color: #000000;
    padding-top: 30px;
    margin-bottom: 0px;
    text-align: center;
}

#login {
   background: #FFC url(loginbutton.png) repeat-x;
   width: 273px;
   height: 53px;

}

#goback  {
   background: url(backbutton.jpg) repeat-x;
   width: 105px;
   height: 101px;
   float: left;
   margin-left: -200px;
   margin-top: 50px;
}

#goback:hover  {
   cursor: pointer;
}

#zoomin  {
   background: #FCC url(settingszoomin.png) repeat-x;
   width: 32px;
   height: 32px;
   float: left;
   margin-left: 200px;
   margin-top: -54px;
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
}

#zoomin:hover  {
  cursor: pointer;
}

#zoomout  {
   background: #FCC url(settingszoomout.png) repeat-x;
   width: 32px;
   height: 32px;
   float: left;
   margin-left: 250px;
   margin-top: -54px;
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
}

#zoomout:hover  {
  cursor: pointer;
}

#readtextaloudtoggleButton  {
   background: #FCC url(toggleOFF.png) repeat-x;
   width: 94px;
   height: 33px;
   float: left;
   margin-left: 250px;
   margin-top: -54px;
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
}

#readtextaloudtoggleButton:hover  {
  cursor: pointer;
}

#invertcoloursmodetoggleButton  {
   background: #FCC url(toggleOFF.png) repeat-x;
   width: 94px;
   height: 33px;
   float: left;
   margin-left: 290px;
   margin-top: -54px;
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;

}

#invertcoloursmodetoggleButton:hover  {
  cursor: pointer;
}

#login:hover {
   width: 273px;
   height: 53px;
   cursor: pointer;
}

.goanswerstostudentquestions li {
list-style: none;
}

.gomanageclasslist li {
list-style: none;
}

.goanswerstostudentquestions li:hover {
   cursor: pointer;
}

.gomanageclasslist li:hover {
   cursor: pointer;
}

#goanswerstostudentquestions:hover  {
    cursor:pointer;
}

#gomanageclasslist:hover  {
    cursor:pointer;
}

#sendemail {
width: 318px;
height: 53px;
}

#sendemail:hover {
width: 318px;
height: 53px;
cursor: pointer;
}

.indexIntro {
  font-size: 1.5em;
}

.btn1 ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.btn1 li {
    width: 374px;
    border-bottom: none;
    height: 93px;
    line-height: 50px;
    font-size: 1.4em;
  }
 
.btn1 a {
  text-decoration: none;
  color: #fff;
  display: block;
  transition: .3s background-color;
}
 
.btn1 a:hover {
  width: 356px;
  height: 53px;
  cursor: pointer;
}

.btn2 ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.btn2 li {
    width: 356px;
    border-bottom: none;
    height: 53px;
    line-height: 50px;
    font-size: 1.4em;
  }
 
.btn2 a {
  text-decoration: none;
  color: #fff;
  display: block;
  transition: .3s background-color;
}
 
.btn2 a:hover {

  width: 356px;
  height: 53px;
  cursor: pointer;
}

footer {
    background-color: #62C3CA;
    color: #fff;
    line-height: 40px;
    text-align: center;
    font-size: 0.8em;
    height: 40px;
    font-family: 'MuseoSans-500', 'Muli', 'Lucida Grande', Arial, sans-serif;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    overflow:hidden;
} 
 
@media screen and (min-width: 600px) {
nav li {
    width: 120px;
    border-bottom: none;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
  }
 
nav li {
    display: inline-block;
    //margin-right: -4px;
  }
    
.btn li {
    width: 120px;
    border-bottom: none;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
  }
 
#variabletypesanddeclarationsquiz li {
    display: inline-block;
    //margin-right: -4px;
  }

#variabletypesanddeclarationsquiz nav ul {
  list-style: none;
  background-color: #62C3CA;
  text-align: ;
  padding: 0;
  margin-left: 75px;
  border: solid;
}

#variabletypesanddeclarationsquiz nav li {
  font-family: 'MuseoSans-500', 'Muli', 'Lucida Grande', Arial, sans-serif;
  font-size: 1.2em;
  line-height: 40px;
  height: 40px;
  width: 396px;
  border-bottom: 1px solid #888;
  margin-left: 0px;
  margin-right: 0px;
}

.tryagain ul {
  list-style: none;
  padding: 0;
  margin: 0;

}

.tryagain li {
    width: 303px;
    border-bottom: none;
    height: 40px;
    line-height: 50px;
    font-size: 1.4em;

  }
 
.tryagain a {
  text-decoration: none;
  color: #fff;
  display: block;
  transition: .3s background-color;
}
 
.tryagain a:hover {
  width: 303px;
  height: 40px;
  cursor: pointer;
}

.chooseanewmodule ul {
  list-style: none;
  padding: 0;

}

.chooseanewmodule li {
    width: 302px;
    border-bottom: none;
    height: 40px;
    line-height: 50px;
    font-size: 1.4em;

  }
 
.chooseanewmodule a {
  text-decoration: none;
  color: #fff;
  display: block;
  transition: .3s background-color;
}
 
.chooseanewmodule a:hover {
  width: 302px;
  height: 40px;
  cursor: pointer;
}

.studentlist {
    font-size: 0.7em;
    color: #000000;
    padding-top: 0px;
    margin-bottom: 0px;
    text-align: left;
    float: left;
}

#studentmanage {
border-style: solid;
float: left;
}

#studentname {
float: left;
margin-top: 25px;
margin-left: 60px;
}


#emailparentbutton {
float: left;
margin-top: -5px;
margin-left: 0px;
}

#emailparentbutton: hover {
cursor: pointer;
}

#removesinglestudentbutton {
float: left;
margin-top: -10px;
}

#removesinglestudentbutton: hover {
cursor: pointer;
}

#contactparent{
float: left;
margin-left: 90px;
margin-right: 60px;
}

#advancelevel {
float: left;
margin-left: 60px;
margin-right: 60px;
width: 200px;
}

#increasebutton {
margin-top: -46.5px;
margin-left: 80px;
}

#increasebutton: hover {
cursor: hover;
}

#decreasebutton: hover {
cursor: hover;
}

#decreasebutton {
float: left;
margin-right: 10px;
margin-top: -10px;
}

#removesinglestudent {
float: left;
margin-left: 0px;
margin-right: 60px;
}

#manageclasslisttitle {
    font-size: 1.0em;
    color: #000000;
    padding-top: 30px;
    margin-bottom: 0px;
    text-align: centre;
}

.studentlist ul {
list-style: none;
}

#addclasslistbutton {
float: left;
margin-right: 50px;
margin-top: 40px;
}

#addclasslistbutton: hover {
cursor: pointer;
}

#addsinglestudentbutton {
float: left;
margin-right: 50px;
margin-top: 40px;
}

#addsinglestudentbutton: hover {
cursor: pointer;
}

#removeallstudentsbutton {
float: left;
margin-top: 40px;
}

#removeallstudentsbutton: hover {
cursor: pointer;
}

#studentdashboardtxt {
    font-size: 1.0em;
    color: #000000;
    padding-top: 30px;
    margin-bottom: 0px;
    text-align: centre;
}

#learningbasicsyntaxbutton {
margin-top: 100px;
}

#learningbasicsyntaxbutton: hover {
cursor: pointer;
}

#variabletypesanddeclarationsbutton {
margin-top: 40px;
}

#variabletypesanddeclarationsbutton: hover {
cursor: pointer;
}

#creatingafunctionbutton {
margin-top: 40px;
}

#creatingafunctionbutton: hover {
cursor: pointer;
}

#ifthenelseconditionalstatementsbutton {
margin-top: 40px;
}

#ifthenelseconditionalstatementsbutton: hover {
cursor: pointer;
}

#creatingyourfirstprogrambutton {
margin-top: 40px;
}

#creatingyourfirstprogrambutton: hover {
cursor: pointer;
}















 
